{% extends 'base.html.twig' %}

{% block title %}{{parent()}} | home{% endblock %}

{% block body %}

<section id="home">
    <div class="container">

        <div class="search">
            <form>

            </form>
        </div>

        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for product in products %}
            <div class="col">

                    <div class="card card-product">
                        <div class="card-img-top img-wrapper">
                            <img src="{{ asset('img/'~product.image) }}" alt="image de" {{ product.name }} class="{{ product.name }}">
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">{{ (product.price /100) | number_format(2)}}€</p>
                            <form class="quantity-choice" action="{{ path('panier_ajout', {product:product.id}) }}">

                                {% if product.quantity >0 %}
                                    <input class="form-control input-quantity" type="number" value="{{ product.quantity }}" name="quantity" aria-label="quantity">
                                {% else%}
                                    <input class="form-control input-quantity" type="number" value="1" name="quantity" aria-label="quantity">
                                {% endif %}

                                {% if product.quantity != 0 %}
                                    <button type="submit" data-id="{{ product.id }}" class="btn button">Modifier</button>
                                {% else %}
                                    <button type="submit" data-id="{{ product.id }}" class="btn button">Ajouter</button>
                                    {% endif %}

                            </form>

                        </div>
                    </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}
