{% extends 'base.html.twig' %}

{% block title %}{parent()}} | panier{% endblock %}

{% block body %}

    <section id="cart" class="">
        <div class="container cart-content">
            {% for product in products %}

                <div class="card card-left">
                    <div class="left">
                        <div class="card-img-left img-wrapper">
                            <img src="{{ asset('img/'~product.image) }}" alt="image de" {{ product.name }} class="{{ product.name }}">
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">{{ (product.price /100) | number_format(2)}}€</p>
                        </div>
                    </div>
                    <div class="right">
                        <p>quantité : {{ product.quantity }}</p>
                        <a href="{{ path('panier_remove', {product:product.id}) }}" class="btn delete-button">Supprimer</a>
                    </div>
                </div>
            {% else %}
                <div class="container">
                    <p class="empty-cart">Le pannier est vide</p>
                    <a href="{{ path('home') }}" class="btn btn-secondary">Voir carte</a>
                </div>
            {% endfor %}
        </div>

        {% if products is not empty %}

        <div class="container cart-total">
            <div class="card">
                <div class="left">
                    <h3>Total</h3>
                    <p>{{ (totalPrice /100) | number_format(2)}}€</p>
                </div>

                <div class="right">
                    <h3>Quantité totale : {{ totalQuantity }}</h3>
                    <a href="#" class="btn btn-validation">Valider panier</a>
                </div>
            </div>
        </div>
        {% endif %}
    </section>

{% endblock %}
